.container {
  height: '100vh';
  text-align: center;
  padding: 30px;
  font-size: 40;
}

.title {
  margin-bottom: 10px;
  color: var(--white);
  text-shadow: -2px -2px var(--darkViolet), 0 2px 0 var(--greyViolet);
}

.subtitle {
  margin-bottom: 10px;
  font-size: 26px;
  color: var(--white);
  text-shadow: -2px -2px var(--darkViolet), 0 2px 0 var(--greyViolet);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 500px;

  padding: 20px;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--greyBlue);
  -webkit-box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  background: var(--greyBlue);

  background: linear-gradient(
    to right,
    var(--greyBlue) 0%,
    var(--lightGreyBlue) 29%,
    var(--lightGreyBlue) 50%,
    var(--lightGreyBlue) 71%,
    var(--greyBlue) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--greyBlue)', endColorstr='var(--lightGreyBlue)', GradientType=1 );
}

.wrapper:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
}

.message {
  position: absolute;
  top: 103px;
  left: 200px;
  color: var(--yellow);
}

.error {
  position: absolute;
  top: 103px;
  left: 60px;
  color: var(--yellow);
}
